* {
  --primary-color: #2190d1;
  --primary-color-rgb: #FA1100;
  --bg-dark-1: #02297C;
  --bg-dark-2: #0f2647;
  --bg-dark-3: #1e1e1e;  
  --bg-dark-1-rgb: 22, 53, 99;
  --red: #FA1100;
  --color: #fff;
}



